.anhcon_df_dl {
    width: 80px;
    height: 80px;
}

.anhcon_df_dl img {
    height: 100%;
    border-radius: 50%;
    width: 100%;
}

/* Quang responsive */
.mb_10 {
    margin-bottom: 10px
}

.mt_10 {
    margin-top: 10px
}

.mt_20 {
    margin-top: 20px
}

.mb_15 {
    margin-bottom: 15px
}

.mt_15 {
    margin-top: 15px
}

.mb_20 {
    margin-bottom: 20px
}

.mb_30 {
    margin-bottom: 30px
}

.mr_20 {
    margin-right: 20px
}

.mr_10 {
    margin-right: 10px
}

.ml_10 {
    margin-left: 10px
}

.cursor_p {
    cursor: pointer
}

.gap_20 {
    gap: 20px;
}

.d_block {
    display: block;
}

.space_a {
    justify-content: space-around
}

.space_b {
    justify-content: space-between
}

.flex_start {
    justify-content: flex-start
}

.flex_end {
    justify-content: flex-end
}

.flex_center {
    justify-content: center
}

.text_a_j {
    text-align: justify
}

.text_a_c {
    text-align: center
}

.text_a_l {
    text-align: left
}

.w_100 {
    width: 100%
}

.h_100 {
    height: 100%
}

.flex_column {
    flex-direction: column
}

.flex_w {
    flex-wrap: wrap
}

.align_c {
    align-items: center
}

.text_tr_u {
    text-transform: uppercase
}

.font_st_i {
    font-style: italic
}

.text_c {
    text-align: center
}

.text_r {
    text-align: right
}

.text_l {
    text-align: left
}

.color_white {
    color: #fff
}

.color_grey {
    color: #474747
}

.color_grey2 {
    color: #999
}

.color_grey3 {
    color: #666
}

.color_blue {
    color: #4C5BD4
}

.color_org {
    color: #FFA800
}

.color_green {
    color: #11D800
}

.color_red {
    color: #F33
}

.back_blue {
    background: #4C5BD4
}

.back_green {
    background: #11D800
}

.back_org {
    background: #FFA800
}

.back_red {
    background: #F33
}

.back_w {
    background: #fff
}

.back_grey {
    background: #474747
}

.back_grey2 {
    background: #EBEEF5
}

.font_s10 {
    font-size: 10px
}

.font_s12 {
    font-size: 12px
}

.font_s14 {
    font-size: 14px
}

.font_s15 {
    font-size: 15px
}

.font_s16 {
    font-size: 16px
}

.font_s18 {
    font-size: 18px
}

.font_s20 {
    font-size: 20px
}

.font_s22 {
    font-size: 22px
}

.font_s23 {
    font-size: 23px
}

.font_s24 {
    font-size: 24px
}

.font_s25 {
    font-size: 25px
}

.font_s26 {
    font-size: 26px
}

.font_s28 {
    font-size: 28px
}

.font_s30 {
    font-size: 30px
}

.font_s40 {
    font-size: 40px
}

.line_h47 {
    line-height: 47px
}

.line_h19 {
    line-height: 19px
}

.line_h22 {
    line-height: 22px
}

.line_h25 {
    line-height: 25px
}

.line_h26 {
    line-height: 26px
}

.line_h32 {
    line-height: 32px
}

.font_wB {
    font-weight: 700
}

.font_wN {
    font-weight: 400
}

.font_w400 {
    font-weight: 400
}

.font_w500 {
    font-weight: 500
}

.font_w700 {
    font-weight: 700
}

.position_r {
    position: relative
}

.box-left {
    float: left;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 30px 20px 0 0px;
    /* height: 742px; */
    position: sticky;
    top: 0;
}

.box-left .menu-bot li svg {
    stroke: #474747
}

.box-left .menu-bot li .fill svg {
    stroke: none;
    fill: #474747;
}

.box-left .menu-bot li:hover p {
    color: #F26222;
}

.box-left .menu-bot li:hover svg {
    stroke: #F26222;
}

.box-left .menu-bot li:hover svg path {
    stroke: #F26222;
}

.box-left .menu-bot li:hover .fill svg path {
    stroke: none;
    fill: #F26222;
}

.box-left .menu-bot li:hover {
    background-color: #FFE4D8;
    border-radius: 10px;
}

.menu_active {
    background-color: #FFE4D8;
    border-radius: 10px;
}

.menu_active .chu-bot p.link {
    color: #F26222;
}

.menu_active svg path {
    stroke: #F26222 !important;
}

.menu_active .fill svg path {
    stroke: none !important;
    fill: #F26222 !important;
}

.anh-bot {
    float: left;
    padding: 15px;
    width: 19%;
}

.box {
    border-radius: 10px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

.box-left .active {
    background: #FFE4D8;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* display: flex;
    align-items: center; */
    color: #F26222;
}

.title-qlt .active {
    background: #FFE4D8;
}

.box-left .hidden {
    display: none;
}

.btn-mui-ten {
    border: 0;
    background: #FFFFFF;
}

.menu-top .chu {
    width: 60%;
    float: left;
}

.border {
    border: 1px solid #CCCCCC;
    width: 96%;
}

.hvt {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.img-active {
    color: #F26222;
}


.tk-ca-nhan {
    padding-top: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.date-profile {
    padding-top: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.arr-down {
    display: none;
}

.so-du {
    padding-top: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.tien-so-du {
    color: #F26222;
}

.arr-down {
    display: none;
}

.box-left .menu-bot {
    width: 100%;
    float: right;
}

.menu-bot .border {
    display: none;
}

.chu-bot {
    width: 81%;
    float: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.img-ava {
    width: 100%;
}

.menu-top {
    margin: 15px 0px 0px 15px;
    width: 95%;
    float: left;
}

.chu-bot p.link {
    color: #474747;
}

.rotate {
    transform: rotate(180deg);
}

/* long moi them */
.tca_tdang_cnhan .ben_phai {
    width: calc(100% - 300px);
    margin-top: 30px;
}

.ben_phai .box-right,
.benphai_tren,
.ql_donhang {
    width: 100%;
}

.ben_phai .box-right {
    margin-top: 0;
}

.benphai_tren {
    background: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tieude_lket {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    padding: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tieude_lket .xact_lket {
    padding: 9px 23px;
    background: #00CE2D;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 8px;
    font-size: 15px;
    line-height: 18px;
}

.chiatin_muaban {
    padding-left: 55px;
    display: none;
}

.chiatin_muaban.active {
    display: block;
    background: none;
}

.chiatin_muaban li {
    padding: 15px 0px;
}

.chiatin_muaban li.active_tin a {
    color: #F26222;
}

.box-left .chiatin_muaban li:hover {
    background-color: unset;
}

.gianhang_container .box-left {
    margin-top: 0;
}

.gianhang_container .box-left+.box-right {
    width: calc(100% - 300px);
    margin-top: 0 !important;
}

.ql_donhang {
    margin-bottom: 15px;
}

.qly_dhang_dc {
    width: 162px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    color: #F26222;
    background: #FFFFFF;
    border: 1px solid #F26222;
    border-radius: 5px;
}

/* --------------------- 1024 ----------------------------  */
@media screen and (max-width: 1024px) {}

/* ------------------------- 768 ----------------------------- */
@media screen and (max-width: 768px) {
    .anh.anhcon_df_dl {
        width: 39px;
        height: 39px;
    }

    .box-left+.khoiphai_quanly,
    .box-left+.khoiphai_gh,
    .gianhang_container .box-left+.box-right,
    .gianhang_container .box-left+.khoi_khong_face_a {
        margin-top: 20px !important;
        width: 100%;
    }

    .menu-top.menu-top_df .chu {
        width: 70%;
    }

    .chu_fig_dl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu_active {
        background-color: unset;
    }

    .box-left {
        height: auto;
        width: 100%;
        margin-right: 20px;
        overflow: hidden;
        z-index: 2;
    }

    .anh-bot {
        padding: 0px;
    }

    .box-left .menu-bot {
        display: none;
    }

    .img-ava {
        width: 100%;
    }

    .box-left .menu-bot {
        padding: 0px 30px;
    }

    .box:nth-last-child(1n) {
        border-radius: 0px;
        border-bottom: 0.5px solid #F26222;
    }

    .box:nth-child(8) {
        border-bottom: 0px;
    }

    .box.active {
        background: 0;
    }

    .chu-bot {
        width: 90%;
    }

    .mui-ten {
        /* float: left; */
        /* margin-top: 30px; */
        position: absolute;
        top: 36%;
        right: 24px;
    }

    .anh-bot {
        width: 4%;
        margin-right: 17px;
    }

    /* .menu-bot .border {
        border: 0.5px solid #F26222;
        margin-left: 30px;
        width: 91%;
        display: block;
    } */

    .arr-down {
        display: block;
    }

    /* .so-du {
        width: 40%;
        float: left;
        padding-left: 70px;
    } */

    /* .date-profile {
        width: 40%;
        float: left;
        padding-left: 96px;
    } */

    /* .tk-ca-nhan {
        width: 18%;
        float: left;
    } */

    /* .menu-top .anh {
        float: left;
        width: 6%;
        margin: 15px 0px 15px 15px;
    } */

    /* .menu-top .chu {
        margin: 15px 0px 15px 15px;
        width: 82%;
    } */

    .menu-top {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 20px;
        width: 100%;
        margin: 0;
        position: relative;
    }

    #digital_conversion_365 .box:last-child {
        border-bottom: unset;
    }
}

/* --------------------------- 480 ---------------------------  */
@media screen and (max-width: 480px) {
    .anh.anhcon_df_dl {
        width: 79px;
        height: 79px;
    }

    .box-left {
        width: 100%;
        position: relative;
    }

    .chu-bot {
        width: 82%;
    }

    .menu-bot .border {
        width: 84%;
    }

    .anh-bot {
        padding-right: 36px;
    }

    .date-profile {
        width: 100%;
        float: left;
        padding-left: 0px;
    }

    /* .menu-top .anh {
        float: left;
        width: 79px;
        height: 79px;
        margin: 15px 0px 22px 20px;
    } */

    .so-du {
        width: 100%;
        float: left;
        padding-left: 0px;
    }

    .mui-ten {
        /* margin-top: 50px; */
    }

    .hvt {
        line-height: 18px;
    }

    .tk-ca-nhan {
        width: 100%;
    }

    .menu-top .chu {
        width: 57%;
    }
}

/* ---------------------------- 375 ---------------------------  */
@media screen and (max-width: 375px) {
    .menu-top .chu {
        width: 53%;
    }

    .chu-bot {
        width: 80%;
    }
}

/* ----------------------------- 320 ---------------------------- */
@media screen and (max-width: 320px) {
    .chu-bot {
        width: 77%;
    }

    .menu-top .chu {
        width: 53%;
    }

    .mui-ten {
        margin-top: 35px;
    }

    .anh-bot {
        padding-left: 20px;
    }

    .menu-bot .border {
        margin-left: 20px;
    }

    .menu-bot .border {
        width: 85%;
    }
}