.content-forgot {
    width: 100%;
    height: auto;
    min-height: 600px;
    background-image: url('/images/newImages/banner-regis.png');
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 150px 80px;
    align-items: center;
    flex-wrap: wrap;
}

.forgot-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 40px;
    width: 100%;
}

.box-regis {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.box-choose {
    width: 300px;
    left: 333px;
    bottom: 604px;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px;
}

.box-choose:hover {
    box-shadow: 0px 3px 92px rgb(0 0 0 / 17%);
}

.box-choose:first-child {
    margin-right: 100px;
}

.box-choose .text {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #F26222;
    margin-bottom: 30px;
}

.box-choose .image {
    width: 100%;
    min-height: 240px;
}

.box-choose .choose {
    background: #F26222;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    border: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.box-choose .choose:hover {
    background: #f26222d1;
}

.box_title_forgot, .form_regis_buy{
    width: 50%;
    float: left;
}

.forgot_buy {
    width: 75%;
    padding: 30px 50px;
    background: #fff;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.forgot_buy .form-control-mail {
    width: 100%;
    margin-bottom: 20px;
}

.forgot_buy .form-control-mail:last-child {
    padding-top: 30px;
}

.forgot_buy .label_form,
.forgot_buy .input_form {
    width: 100%;
    display: block;
}

.forgot_buy .input_form {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 10px;
    height: 36px;
    padding: 0 20px;
}

.forgot_buy .btn_regist_buy {
    background: #F26222;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;

}

.control_captcha {
    display: flex;
    justify-content: space-between;
}

.forgot_buy .label_form {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #474747;
}

.forgot_buy .input_captcha {
    width: calc(100% - 200px);
}

.forgot_buy .div_captcha .captcha {
    height: 36px;
    line-height: 54px;
}

.forgot_buy .div_captcha .reset-icon {
    top: 5px;
    right: 6px;
    background: url(/images/newImages/icon_refresh.png) no-repeat;
}

.title_forgot {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-top: 90px;
    padding-left: 145px;
}

.title_forgot .break {
    display: block;
}

.control_birth_gender {
    display: flex;
    justify-content: space-between;
}

.control_birth_gender .control_input {
    width: 49%;
}

.form_pass {
    position: relative;
}

.eye_pass {
    position: absolute;
    right: 10px;
    bottom: 2px;
    cursor: pointer;
}

.form-return-login {
    margin-bottom: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

.form-register {
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

.forgot {
    color: #F26222;
    font-weight: bold;
}

.register {
    font-weight: bold;
    color: #F26222;
}

.input-email {
    padding-top: 7px;
    margin-bottom: 30px;
}

p.title_forgot2 {
    display: none;
}

/* IPad Pro max-width:1024 */
@media screen and (max-width:1024px) {
    .title_forgot {
        display: none;
    }
    p.title_forgot2 {
        display: block;
        color: #F26222;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    .box_title_forgot{
        width: 60%;
        margin-left: 179px;
        margin-top: -34px;
    }
    .form_regis_buy {width: 550px;margin: 0 auto;float: unset;}

    label.label_form.email {
        padding-top: 30px;
    }
    .forgot_buy{
        width: 100%
    }
    .forgot_buy .input_form{
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
}
/* IPad max-width:768 */
@media screen and (max-width:768px) {
    .box_title_forgot{
        width: 93%;
        margin-left: 26px;
        margin-top: -75px;
    }
    .form_regis_buy{width: 90.47%;}
    .content-forgot.content-forgot_df.content-login {padding-top: 46px;}
}

@media (max-width: 550px){
    .content-forgot.content-forgot_df.content-login {padding: 50px 20px 32px;}
    .forgot_buy_df{padding: 30px 20px 33px;}
    .form_regis_buy{width: 100%;}
    p.title_forgot2_df{font-size: 18px;line-height: 21px; font-weight: 600;margin-bottom: unset;}
    .forgot_buy .label_form_df_qmk{font-size: 15px;line-height: 17px; font-weight: 500;}
}
@media screen and (max-width:480px){
    .box_title_forgot, .form_regis_buy{
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
    .content-forgot.content-login {
        padding: 40px 35px;
        min-height: 500px;
    }

    .forgot_buy{
        padding: 30px 20px;
    }
}
@media screen and (max-width:320px){
    .content-forgot.content-login {
        padding: 35px 9px;
    }
}
/*----------End------------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /*Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* ====================== pop-up ==================== */
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    /* margin: auto; */
    padding: 30px 50px;
    border: 1px solid #888;
    /* width: 31%; */
    box-shadow: 0px 2px 30px rgb(0 0 0 / 15%);
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

